<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
        <img id="initial-man" src="img/hangman0.jpg" alt="an empty gallows"/>
        <div id="letters-guessed">
            <h4>Your guessed letters:</h4>
        </div>
  </body>
</html>
