<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
        <h1>Welcome {{ player.get('name') }} !</h1>
        <img id="initial-man" src="img/hangman0.jpg" alt="an empty gallows"/>

        <div>
            <form id="guess-form" action="/guess" method="post">
                <h4>Choose a letter:</h4>
                <input type="text" name="letter">
                <button id="guess" type="submit">Guess!</button>
            </form>
            <div id="random-word">
                <h4>Random word: {{ word }} </h4>
            </div>
            <div id="letter-guess">
                <h4>Your guessed letters: {{ letter }}</h4>
            </div>
        </div>
  </body>
</html>
