<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title></title>
    </head>
  <body>
      <div id="guess-1">
          <img src="" alt="" />
      </div>

      <div id="guess-2">
          <img src="" alt="" />
      </div>

      <div id="guess-3">
          <img src="" alt="" />
      </div>

      <div id="guess-4">
          <img src="" alt="" />
      </div>

      <div id="guess-5">
          <img src="" alt="" />
      </div>

      <div id="guess-6">
          <img src="" alt="" />
      </div>
  </body>
</html>
